<ion-header>
  <ion-toolbar>
   
    <ion-buttons slot="start"> 
      <ion-button>
        <ion-icon name="close-outline"></ion-icon>
        
        </ion-button>
        </ion-buttons>
  
  <ion-buttons slot="end"> 
    <ion-button>
  <ion-icon name="checkbox-outline" slot="end"> </ion-icon>
  </ion-button>
  </ion-buttons>
</ion-toolbar>
</ion-header>


<ion-content>
  
    <ion-card-header>
    
      <h1>Account</h1>
      <div class="main4">
      <h4>Photo</h4>
      </div>
      <div class="photo">
        <ion-icon name="camera-sharp" size="large"></ion-icon>
      <ion-button color="medium">Upload Photo</ion-button>
        </div>
      <div class="main">
         <div class="name">
            <h4> Name</h4>  
         </div>     
 
      <div class="content">
             David Clerisseau
      </div>
    </div>
    <div class="main1">
      <div class="gender">
         <h4> Gender</h4>  
      </div>     

   <div class="content">
    <ion-button color="secondary">M</ion-button>
    <ion-button color="light">F</ion-button>
   </div>
 </div>
 <div class="main2">
         <div class="age">
            <h4>Age</h4>  
         </div>     
 
      <div class="content">
             28
      </div>
    </div>
    <div class="main3">
      <div class="email">
         <h4>Email</h4>  
      </div>     

   <div class="content">
          clerisseau@gmail.com
   </div>
 </div>
   
    
  
  <!----------
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense"></ion-header>
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
<ion-buttons slot="start">
  <ion-button>
    <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    </ion-buttons>
    ----->